{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Route'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'Edit Route'|trans }}</h2>

    {{ include('walk/_form.html.twig', {'button_label': 'Update'}) }}


   
{% endblock %}
