{% extends 'base.html.twig' %}

{% block title %}Edit Walk{% endblock %}

{% block body %}
    <h2>Edit Walk</h2>

    {{ include('walk/_form.html.twig', {'button_label': 'Update'}) }}


   
{% endblock %}
