{% extends 'base.html.twig' %}

{% block title %}New Walk{% endblock %}

{% block body %}
    <h1>Create new Walk</h1>

    {{ include('walk/_form.html.twig') }}

    <a href="{{ path('app_walk_index') }}">back to list</a>
{% endblock %}
