{% extends 'base.html.twig' %}

{% block title %}{{ 'New Rute'|trans }}{% endblock %}

{% block body %}
    
    <h2>{{ 'Create new Rute'|trans }}</h2>

    {{ include('walk/_form.html.twig') }}

    
{% endblock %}
