<div class="slider">
    <div class="list">
        {% for walk in walks %}
            <div class="item">
                <img src="./image/img1.jpg" alt="">

                <div class="content">
                    <div class="title">{{ walk.title }}</div>
                    <div class="type">{{ walk.walkDate|date("d-m-Y") }}</div>
                    <div class="description">
                        {{ walk.description }}
                    </div>
                    <div class="button">
                        <button>SEE MORE</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="thumbnail">
        {% for walk in walks %}
            <div class="item">
                <img src="./image/img1.jpg" alt="">
            </div>
        {% endfor %}
    </div>


    <div class="nextPrevArrows">
        <button class="prev"> < </button>
        <button class="next"> > </button>
    </div>


</div>